<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>TigerLift</title>
  </head>
  <body>
    <a href="/dashboard">Back to dashboard</a>
    <form method="GET" action="/myrides">
      <button type="submit" name="view_type" value="posted" 
              {% if view_type == 'posted' or not view_type %} 
                  style="font-weight: bold"
              {% endif %}>
          My Posted Rides
      </button>
      <button type="submit" name="view_type" value="requested"
              {% if view_type == 'requested' %}
                  style="font-weight: bold"
              {% endif %}>
          My Requested Rides
      </button>
  </form>
  {% if view_type == 'posted' %}
    <h1>My Posted Rides</h1>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Admin Netid</th>
          <th>Max capacity</th>
          <th>Available spots</th>
          <th>Origin</th>
          <th>Destination</th>
          <th>Arrival Time</th>
          <th>Status</th>
          <th>Creation Time</th>
          <th>Updated At</th>
          <th>Current Riders</th>
          <th>Delete Ride</th>
          <th>Manage Ride</th>
        </tr>
      </thead>
      <tbody>
        {% for ride in myrides %}
        <tr>
          <td>{{ ride[0] }}</td>
          <td>{{ ride[1] }}</td>
          <td>{{ ride[2] }}</td>
          <td>{{ ride[2] - ride[9]|length }}</td>
          <td>{{ ride[3] }}</td>
          <td>{{ ride[4] }}</td>
          <td>{{ ride[5] }}</td>
          <td>{{ ride[6] }}</td>
          <td>{{ ride[7] }}</td>
          <td>{{ ride[8] }}</td>
          <td>
            {% for user in ride[9] %}
            {{ user }}
            <!-- SHOULD REMOVE FROM RIDE ACTUALLY REJECT RIDE REQUEST OR MOVE IT BACK INTO PENDING -->
            <a href="">Remove from ride</a>
            {% endfor %}
          </td>
          <td>
            <a href="{{ url_for('deleteride', rideid=ride[0]) }}"
              >Delete ride</a>
          </td>
          <td>
            <!-- if available spots == max capac -->
            {% if ride[9]|length == ride[2] %}
              This ride is full!
            {% else %}
              {% for user in ride[10] %}
              {{ user }}
              <a href="{{ url_for('acceptriderequest', rideid=ride[0], requester_id=user) }}">Accept</a>
              <a href="{{ url_for('rejectriderequest', rideid=ride[0], requester_id=user) }}">Reject</a>
              {% endfor %}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
  <h1>My Requested Rides</h1>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Admin Netid</th>
        <th>Max capacity</th>
        <th>Available spots</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Arrival Time</th>
        <th>Status</th>
        <th>Creation Time</th>
        <th>Updated At</th>
        <th>Current Riders</th>
        <th>Delete Ride</th>
      </tr>
    </thead>
    <tbody>
      {% for ride in myreqrides %}
      <tr>
        <td>{{ ride[0] }}</td>
        <td>{{ ride[1] }}</td>
        <td>{{ ride[2] }}</td>
        <td>{{ ride[2] - ride[9]|length }}</td>
        <td>{{ ride[3] }}</td>
        <td>{{ ride[4] }}</td>
        <td>{{ ride[5] }}</td>
        <td>{{ ride[6] }}</td>
        <td>{{ ride[7] }}</td>
        <td>{{ ride[8] }}</td>
        <td>{{ ride[9] }}</td>
        <td>
          <a href="{{ url_for('cancelriderequest', rideid=ride[0]) }}"
            >Cancel request</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
    <script>
    </script>
  </body>
</html>
